#canvas {
	display: block;
	border: 5px solid #000;
	margin: 10px auto;
}

#canvasForm, .button, .predicted{
	display: block;
	text-align: center;
	margin: 10px auto;
}

.predicted {
	padding: 20px;
	box-sizing: border-box;
	border: 5px solid white;
}